<p id="notice"><%= notice %></p>

<p>
  <strong>Movie name:</strong>
  <%= @movie.movie_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @movie.summary %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @movie.imdb %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @movie.venue.name %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> |
<%= link_to 'View Seats', movie_seats_path(@movie) %>