<html>
    <head>
        <title>Hello Protonshub!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <% if @recommended_seats.class == Array %>
                <div class="alert alert-success" role="alert">
                    Your recommended seats are: <%=@recommended_seats.join(', ')%>
                </div>
            <%elsif @recommended_seats.length > 0 %>
                <div class="alert alert-danger" role="alert">
                     <%=@recommended_seats%>
                </div>
            <% end %>
            <table class="table">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Summary</td>
                        <td>Year</td>
                        <td>Genre</td>
                        <td>IMDB Link</td>
                        <td>Number of Seats</td>
                        <td>Find Seat</td>
                    </tr>
                </thead>
                <tbody>
                    <% @movies.each do |movie| %>
                        <tr>
                            <td><%= movie.movie_name%></td>
                            <td><%= movie.summary%></td>
                            <td><%= movie.year%></td>
                            <td><%= movie.genre%></td>
                            <td><%= movie.imdb%></td>
                            <form method="GET" action="/welcome/get_seats">
                                <td>
                                    <input type="text" class="form-control" placeholder="Number of Seats" name="numseats">
                                    <input type="hidden" value="<%=movie.id%>" name="id">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Find Seats</button>
                                </td>
                            </form>
                        </tr>
                    <% end %>
                </tbody>
            </table>

            <%= form_for @movie, url: welcome_createmovie_path, method: :post do |form| %>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :movie_name %><br>
                            <%= form.text_field :movie_name , class: "form-control", placeholder: "Movie Name", :required => true%>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :summary %><br>
                            <%= form.text_field :summary , class: "form-control", placeholder: "Summary", :required => true%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :genre %><br>
                            <%= form.text_field :genre, class: "form-control", placeholder: "Movie Genre", :required => true%>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                           <%= form.label :year %><br>
                           <%= form.select :year, (2000..Time.now.year).to_a, {:include_blank => "Select year", :required => true } , {class: "form-control"}%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :imdb %><br>
                            <%= form.text_field :imdb , class: "form-control", placeholder: "Movie imdb link"%>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :rows %><br>
                            <%= form.number_field :rows, class: "dropdown form-control number_field", :required => true %>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <%= form.label :column %><br>
                            <%= form.number_field :column, class: "dropdown form-control select", :required => true %>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            <% end %>
        </div>
    </body>
</html>